/**
HTML OVERRIDES
**/
body{
    margin-left: 5%;
    padding: 0;
    overflow: hidden;
    width: 90%;
    height: 300vh;
}

canvas{
    height: 90vh;
    width: auto;
    z-index: -1;
}
/**
BOOTSTRAP OVERRIDES
**/

/**
CUSTOM CLASSES
**/

/**
CUSTOM ID's
**/